<div class="card">
  <div class="card-body">
    <%= simple_form_for property do |f| %>
      <%= f.input :name %>
      <%= f.input :url %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
