<div class="container-fluid">
  <div class="row">
    <% @properties.each do |property| %>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="card">
          <div class="chart-wrapper px-0" style="height: 70px;">
            <div class="chart-wrapper" style="height:70px;">
              <canvas id="card-chart3" class="chart chart-line" height="70"></canvas>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%#= image_tag favicon_image_from_url(property.url) %>
              <%= property.name %>
            </h5>
            <!-- <p class="card-text">Description...</p> -->
            <%= link_to "Details", property, class: "card-link" %>
            <%= link_to "Visit", property.url, class: "card-link", target: "_blank" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>