<%= breadcrumbs({
  items: [
    ["Home", nil],
    ["Properties", properties_path],
    [@property.name, nil]
  ],
  actions: [
    ["Edit Property", edit_property_path(@property), "edit"]
  ]
}) %>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <%= component "details_table",
                    object: @property,
                    fields: %i( id name url ) %>
    </div>
  </div>
</div>