<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <table class="table table-responsive-sm">
        <thead>
        <tbody>
          <tr>
            <th>Samppa Nori</th>
            <td>2012/01/01</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>