<%= breadcrumbs({
  items: [
    ["Home", nil],
    ["Campaigns", campaigns_path],
    ["Create Campaign", nil]
  ],
  actions: [
  ]
}) %>

<div class="container-fluid">
  <%= render 'form', campaign: @campaign %>
</div>