<%= breadcrumbs({
  items: [
    ["Home", nil],
    ["Campaigns", campaigns_path],
    [@campaign.name, nil]
  ],
  actions: [
    ["Edit Campaign", edit_campaign_path(@campaign), "edit"]
  ]
}) %>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <%= component "details_table",
                    object: @campaign,
                    fields: %i(
                      name daily_budget_cents monthly_budget_cents total_budget_cents
                      bid_amount_cents redirect_url status
                    ) %>
    </div>
  </div>
</div>
