.fa-wrapper {
  width: 20px;
  margin-right: 10px;
  text-align: center;
}

body.sidebar-minimized {
  .fa-wrapper {
    margin-right: 16px;
    margin-left: 18px;
  }
}

.has-invalid {
  .invalid-feedback {
    display: block;
  }

  label {
    color: theme-color('danger');
  }

  .form-control {
    background: theme-color-level('danger', -10);
    border-color: theme-color('danger');
  }
}